<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>sub2/greeting</title>
	</head>
	<body>
		<h1>Spring MVC 실습</h1>
		<h1>sub2/greeting</h1>
		<h4>Main</h4>
		<a href="/Ch04/hello">hello</a>
		<a href="/Ch04/welcome">welcome</a>
		<a href="/Ch04/greeting">greeting</a>
		
		<h4>sub1</h4>
		<a href="/Ch04/sub1/hello">sub1/hello</a>
		<a href="/Ch04/sub1/welcome">sub1/welcome</a>
		<a href="/Ch04/sub1/greeting">sub1/greeting</a>
		<a href="/Ch04/redirect">redirect</a>
		<a href="/Ch04/forward">forward</a>
		
		<h4>sub2</h4>
		<a href="/Ch04/sub2/hello">sub2/hello</a>
		<a href="/Ch04/sub2/welcome">sub2/welcome</a>
		<a href="/Ch04/sub2/greeting">sub2/greeting</a>
		
		<h4>sub3</h4>
		<a href="/Ch04/sub3/hello">sub3/hello</a>
		<a href="/Ch04/sub3/welcome">sub3/welcome</a>
		<a href="/Ch04/sub3/greeting">sub3/greeting</a>
	</body>
</html>